<div class="fields">
  <div class="stat">
    <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Lattitude</span>
          </div>
          <input type="text" [(ngModel)]="lat"  class="form-control" placeholder="Lattitude" aria-label="Lattitude" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Longitude</span>
          </div>
          <input type="text" [(ngModel)]="long"  class="form-control" placeholder="Longitude" aria-label="Longitude" aria-describedby="basic-addon1">
        </div>
      <button type="button" class="btn btn-primary btn-style" (click)="getForecast();">Show Weather Reports</button>
  </div>
  <app-forecast class="visual" [data]="cardData"></app-forecast>
</div>
<div id="map" class="map map-block" (onClick)="getlocation($event)"></div>